{% macro search_filter(handler_name=None, action='search', examples=[], _pass_all=False) -%}
{% if not handler_name %}
    {% set handler_name = handler.name %}
{% endif %}
<div>
    <form id='search-form' class="form-search" action="{{handler.uri(handler=handler_name,action=action,_pass_all=_pass_all)}}">
        <input type="text" name='query' class="input-xlarge search-query" value="{{query_string|default('')}}">
        <button type="submit" class="btn btn-primary"><i class='icon icon-search icon-white'></i> Search</button>
        {% if examples %}
        <span class='help-inline'>
            Examples:
                {% for example in examples %}
                <span class='label label-info'>{{example}}</span>
                {% if not loop.last %}, {% endif %} 
                {% endfor %}
        </span>
        <script type='text/javascript'>
        $(function(){
            $('#search-form .label').click(function(){
                $('#search-form input.search-query').val($(this).text());
            });
        });
        </script>
        {% endif %}
    </form>
</div>
{%- endmacro %}


{% macro search_info() -%}
    {% if error %}
        <div class="alert alert-block alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <h4 class="alert-heading">Whoa, now!</h4>
          It appears that you somehow gave me an invalid search query, please try again with a different query. <br/>
          If you'd like to know what kind of queries are valid, 
          <a href='https://developers.google.com/appengine/docs/python/search/overview#Query_Language_Overview'>
            read here</a>.
        </div>
    {% endif %}

    {% if not context[scaffolding.pluralized] %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">No results found</h4>
            Sorry, I couldn't find anything with your query. Please try again. If you would like to learn more about querying,
            <a href='https://developers.google.com/appengine/docs/python/search/overview#Query_Language_Overview'>
            read here</a>.
        </div>
    {% endif %}
{%- endmacro %}