{% import 'scaffolding/macros.html' as s with context %}
<!doctype html>
<html>
<head>
    <title>Admin - 
        {% block layout_head_title %}
            {% if scaffolding %}{{scaffolding.title}}{% endif %}
            {{inflector.humanize(this.route.action)}}
        {% endblock %}
    </title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/ferris/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ferris/css/bootstrap-theme.min.css">

    <!-- Initial Scripts -->
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    {% block layout_head %}
        {{this.events.layout_head()}}
    {% endblock %}
</head>

<body>

{% block layout_body %}
    {% block layout_before_content %}
        {{this.events.layout_before_content()}}{% endblock %}

    {% block layout_nav_bar %}
        {% include 'elements/admin/navbar.html' %}
    {% endblock %}

    <div class="container">
        {% block layout_wrapper %}
            <div>
                {% block layout_header %}
                    {% include 'elements/admin/breadcrumb.html' %}
                {% endblock %}
            </div>

            <div class='row'>
                <div class='col-lg-12'>
                    {% block layout_sidebar %}
                        {{ s.override_include('nav.html') }}
                    {% endblock %}
                </div>
                {% include "elements/flash_messages.html" with context %}
            </div>

            <div class='row'>
                <div class='col-lg-12'>
                    {%block layout_content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block layout_after_content %}
        {{this.events.layout_after_content()}}{% endblock %}
{% endblock %}

    <!-- Post Body Scripts -->
    <script type="text/javascript" src="/ferris/js/bootstrap.js"></script>
    <script type="text/javascript">
    $(function(){$('body').tooltip({selector: "a[rel=tooltip], *[data-tooltip]"})});
    </script>

    {% block layout_scripts %}
        {{this.events.layout_scripts()}}
    {% endblock %}
{% include "elements/debug/toolbox.html" %}
</body>
</html>
