{% import 'scaffolding/macros.html' as s with context %}
{% import 'macros/form.html' as f with context %}
{% extends s.layout() %}

{% block layout_content %}

{% block form_tag %}
<form method="POST" action="{{scaffolding.form_action|default(this.uri(_pass_all=True), True)}}" class="form" enctype="{{scaffolding.form_encoding|default('application/x-www-form-urlencoded', True)}}" role="form">
{% endblock %}

    {% block form_fields %}
        {% for field in form %}
            {% if not field.name in scaffolding.excluded_form_fields %}
                {{ f.form_field(form, field) }}
            {% endif %}
        {% endfor %}
    {% endblock %}

    <div class='controls form-actions'>
        {% block form_button %}
            <div class="btn-group">
                <button class='btn btn-primary btn-large' type='submit'>
                    {% block submit_text %}Create{% endblock %}
                </button>
            </div>
        {% endblock %}
    </div>
</form>
{% endblock %}
