{% import 'scaffolding/macros.html' as s with context %}

<ul class="nav nav-tabs justified">
    {% set item = context[scaffolding.singularized] %}

    {% block links %}
        {% if item %}
            {{s.nav_link('View', 'view', 'icon-search', id=scaffolding.url_id_for(item))}}
            {{s.nav_link('Edit', 'edit', 'icon-pencil', id=scaffolding.url_id_for(item))}}
        {% endif %}
        {{s.nav_link('List', 'list', 'icon-list')}}
        {{s.nav_link('Add', 'add', 'icon-plus')}}
    {% endblock %}
<ul>
