<script type='text/javascript' src='/ferris/js/prettify/prettify.js'></script>
<link rel='stylesheet' type='text/css' href='/ferris/js/prettify/prettify.css' />
<script type='text/javascript'>
$(function(){prettyPrint();});
</script>
<style type='text/css'>
body{
  background-image: url(/ferris/img/bg.png); background-repeat: repeat;
  color: #33332d;
}

.red { color: #db4105 }
.blue { color: #9fb4cc }
.beige { color: #b7b7ae }

.center{ text-align: center; margin-top: 10%; }

.landing .prettyprint{ text-align: left; width: 70%; margin: 0 auto; padding: 15px;}

body {}

</style>
