<script type='text/javascript' src='/ferris/js/prettify/prettify.js'></script>
<link rel='stylesheet' type='text/css' href='/ferris/js/prettify/prettify.css' />
<script type='text/javascript'>
$(function(){prettyPrint();});
</script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<style type='text/css'>
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(/ferris/img/bg.png); background-repeat: repeat;
  color: #33332d;
}

.red { color: #db4105 }
.blue { color: #9fb4cc }
.beige { color: #b7b7ae }

.center{ text-align: center; margin-top: 10%; }

.prettyprint{ text-align: left; width: 70%; margin: 0 auto;}

body {}

</style>
